* {
    font-family: sans-serif;
    color: white;
}

body {
    background-color: black;
}

#controls-root {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100vh;
    background-color: #00000088;
    font-size: 12px;
}

#controls-root input {
    background: black;
    margin-left: 5px;
    border: 1px solid #666666;
    margin-bottom: 2px;
    padding: 0px;
    padding-left: 1px;
}


#controls-root button {
    background: #555555;
    border: 1px solid #666666;
    margin-bottom: 2px;
    padding: 0px;
    padding-left: 1px;
    cursor: pointer;
    transition: background-color 0.25s;
}
#controls-root button:hover {
    background: #333333;
    border: 1px solid #666666;
    margin-bottom: 2px;
    padding: 0px;
    padding-left: 1px;
    cursor: pointer;
}

#main-canvas {
    position: absolute;
    top: 0px;
    right: 0px;
}