
body {
    overflow: hidden;
    font-family: sans-serif;
}

canvas {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 0;
    width: 100vw;
    height: 100vh
}

.CodeMirror {
    resize: vertical;
    max-height: 90%;
}

#shader-input-container .CodeMirror {
    z-index: 1;
    margin-top: 40px;
    height: 80vh;
    width: 30vw;
    resize: vertical;
    width: 100%;
    height: calc(100% - 30px);
}

#sdf-shader {
    overflow-x: initial;
    overflow-wrap: break-word;
    color: white;
}

#tab-switcher {
    top: 0px;
    left: 0px;
    width: 100vw;
    position: absolute;
    z-index: 3;
}

#statistics {
    bottom: 0;
    left: 0;
    width: calc(100% - 10px);
    position: absolute;
    z-index: 2;
    padding: 5px;
    color: white;
    font-family: monospace;
    background: #000000BB;
    text-align: right;
}

#statistics * {
    font-family: monospace;
}

.range-input {
    -webkit-appearance: none;
    appearance: none;
    width: 200px;
    background: #333333;
    color: white;
    height: 12px;
    border-radius: 6px;
    border: none;
}

.range-input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background: #AACCFF;
    width: 10px;
    height: 10px;
    border-radius: 5px;
}

.range-input::-moz-range-thumb {
    background: #AACCFF;
    width: 10px;
    height: 10px;
    border-radius: 5px;
}

#ui label {
    color: #CCCCCC;
    font-size: 75%;
}

#ui-tabs > * {
    color: white;
}

#ui-tabs {
    padding-top: 40px;
    opacity: 0.5;
    transition: opacity, 0.3s;
    background: black;
    color: white;
    top: 0px;
    left: 0px;
    position: absolute;
    z-index: 3;
    padding: 10px;
    padding-bottom: 20%;
    width: 30%;
    height: 100%;
    overflow: auto;
}

#ui-tabs:hover {
    opacity: 1;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 18px;
}

h1, h2 {
    margin: 0px;
    margin-top: 15px;
}

.setting-label {
    transition: color 0.2s;
}

.setting-label:hover {
    color: white;
}

#settings {
    overflow: auto;
    flex: 1;
    max-height: 60vh;
}

.hover-explanation-container {
    overflow: auto;
    padding: 10px;
    background: black;
    flex: 1;
    max-height: 20vh;
}

#ui-container {
    max-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.single-recording {
    border-bottom: 1px solid white;
}

#renders {
    margin-top: 20px;
}

a {
    color:rgb(173, 219, 255);
}

a:visited {
    color:rgb(204, 173, 255);
}